* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 50%;
  max-width: 1176px;
  margin: auto;
}

.controls {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.controls .prev,
.controls .next {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
}

img.active {
  width: 100%;
  height: 650px;
  object-fit: cover;
  object-position: center;
  display: block;
}

img:not(.active) {
  display: none;
}
